.Box{
    padding: 80px 60px;
    background: #F5C6AA;
    position: absolute;
    bottom: 0;
    width: 100%;
    @media (max-width: 1000px) {
        padding: 70px 30px;
    }
}

.form
{
    display: flex;
    flex-direction: column;
}
.social
{
    padding-top: 20px;
}
.social a
{
    color: black;
    padding-left: 5%;
    font-size: 1.2em;
    text-decoration: none;
}
.social a:hover
{
    color: grey;
}
.social p
{
    text-align: left;
    font-size: 2.5em;
}
.section1
{
    display: flex;
    flex-direction: column;
}
div
{
    background: #F5C6AA;
}
/* .Column{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 60px;
}
.Row{
    display: grid;
    grid-template-columns: repeat(auto-fill,
						minmax(185px, 1fr));
    grid-gap: 20px;

    @media (max-width: 1000px) {
        grid-template-columns: repeat(auto-fill,
                            minmax(200px, 1fr));
    }
}
.FooterLink {
    color: #fff;
    margin-bottom: 20px;
    font-size: 18px;
    text-decoration: none;
}
.FooterLink:hover {
	color: green;
	transition: 200ms ease-in;
}

.Heading {
    font-size: 24px;
    color: #fff;
    margin-bottom: 40px;
    font-weight: bold;
} */